version: "3.8"

services:
  nginx:
    image: nginx:latest
    container_name: test-nginx
    ports:
      - "3000:80"
    volumes:
      - ./_docker/nginx/conf.d:/etc/nginx/conf.d
      - ./backend/:/opt/app
    depends_on:
      - backend
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: _docker/node/Dockerfile
    container_name: frontend
    ports:
      - "3001:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    working_dir: /app
    environment:
      - NODE_ENV=development

  backend:
    build:
      context: .
      dockerfile: _docker/php/Dockerfile
    container_name: backend
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./backend/:/opt/app
    working_dir: /opt/app
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:latest
    container_name: test-db
    ports:
      - 5434:5432
    volumes:
      - ./_db/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: test
      POSTGRES_PASSWORD: secret
      POSTGRES_USER: postgres
      PGDATA: /var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
